* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg,#ff7e5f,#1707ed);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
    color: #fff;
    text-align: center;
    overflow: auto;
    margin: 0;
    flex-direction: column;
}
.contenu{
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 15px;
    width: 1000px;
    max-height: 170vh;
    transition: all 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}
h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #3e59e1;
}
input{
    width: 75%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.tache{
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}
#tache{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-right: 5px;
    background: #fff;
    color: #333;
    transition: background-color 0.3s ease;
}
#tache :focus{
    background-color: #ffd700;
}
button{
    background: #090c09;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
button :hover{
    background-color: #45a049;
    transform:scale(1.05);
}
ul{
    list-style-type:none;
    margin-bottom: 30px;
    max-height: 300px;
    overflow-y: auto;
    padding-right: 10px;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
li span{
    font-size: 1.2rem;
    text-align: left;
    word-wrap: break-word;
    flex-grow: 1;
    margin-right: 10px;
}
li button{
    background-color: #f44336;
    transition: bacground-color 0.3s ease;
    margin-left: 10px;
}
li button.supprimer{
    margin-right: 10px;
}
li button :hover{
    background-color: #e53935;
}
.terminee span{
    text-decoration: line-through;
    opacity: 0.7;
    color: #dc730a;
}
.pied-page{
    margin-top: 20px;
    font-size: 1.1rem;
}
#compteur_tache{
    margin-bottom: 15px;
}
#boutonToutSupprimer{
    background-color: #f88b06;
    padding: 12px 20px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#boutonToutSupprimer :hover{
    background-color: #e64a19;
}
#liste{
    overflow-x: auto;
}
form { 
    margin-top: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 
form button { 
    background-color: #040404; 
    color: rgb(253, 249, 249); 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    display: flex;
    width: 1000%;
} 
form button:hover { 
    background-color: #45a049; 
    transform: scale(1.05); 
}
.explication{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}